<div class="card border-success mb-3 position-absolute top-50 start-50 translate-middle" style="max-width: 18rem;">
  <div class="card-body text-success">
    <h5 class="card-title">Listado de estudiantes</h5>
    <button type="button" name="button" [routerLink]="['/profesores']" class="btn btn-success btn-sm">Volver</button>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of asignaturasEstudiantes">
          <td *ngIf="idAsignatura == item.asignatura.idAsignatura">{{item.estudiante.idEstudiante}}</td>
          <td *ngIf="idAsignatura == item.asignatura.idAsignatura">{{item.estudiante.nombre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
