<div class="card border-success mb-3 position-absolute top-50 start-50 translate-middle">

  <div class="card-body text-success">
    <h5 class="card-title">Listado de asignaturas</h5>
    <button type="button" name="button" [routerLink]="['/profesores']" class="btn btn-success btn-sm">Volver</button>
    <table class="table table-bordered table-striped" >
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>PROFESOR</th>
          <th>CURSO</th>
          <th>CONSULTAR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of asignaturas">
          <td *ngIf="idProfesor == item.profesor.idProfesor">{{item.idAsignatura}}</td>
          <td *ngIf="idProfesor == item.profesor.idProfesor">{{item.nombre}}</td>
          <td *ngIf="idProfesor == item.profesor.idProfesor">{{item.profesor.nombre}}</td>
          <td *ngIf="idProfesor == item.profesor.idProfesor">{{item.curso.grado}}{{item.curso.salon}}</td>
          <td *ngIf="idProfesor == item.profesor.idProfesor">
            <button type="button" name="button" [routerLink]="['/asignaturasEstudiantes', item.idAsignatura]" class="btn btn-success btn-sm">Consultar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
