<div class="card border-success mb-3 position-absolute top-50 start-50 translate-middle" style="max-width: 18rem;">
  
  <div class="card-body text-success">
    <h5 class="card-title">Listado de colegios</h5>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let colegio of colegios">
          <td>{{colegio.idColegio}}</td>
          <td>{{colegio.nombre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
