<div class="card border-success mb-3 position-absolute top-50 start-50 translate-middle" style="max-width: 18rem;">
  <div class="card-body text-success">
    <h5 class="card-title">Listado de profesores</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>CONSULTAR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profesor of profesores">
          <td>{{profesor.idProfesor}}</td>
          <td>{{profesor.nombre}}</td>
          <td>
            <button type="button" name="button" [routerLink]="['/asignaturas', profesor.idProfesor]" class="btn btn-success btn-sm">Consultar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
